@model FoodOrder.Models.MenuViewModel

@{
    Layout = "~/Views/Shared/_LayoutSystemCourt.cshtml";
    ViewBag.Title = "Меню на сегодня";
}
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1>Меню на сегодня</h1>
                </div>


                <div class="col-12">
                    @if (ViewBag.Unlimited)
                    {
                        if (Model != null)
                        {
                            
                            <br />
                            <div id="allPacks" class="col-10">
                                @{var a = 1;
                                    foreach (FoodOrder.Models.Pack i in Model.Menu.Packs)
                                    {

                                                                <div id="@i.Id" class="pack">
                                                                    <h3>Пак №@a</h3> 
                                                                    <a style="margin-top:15px" onclick="addInCart('@i.Id', '@i.Name','@a')" href="#" class="btn btn-outline-primary rounded notify-btn mb-3" data-from="bottom" data-align="center">
                                                                        <i class="iconsminds-add-cart"></i>
                                                                        В корзину
                                                                    </a>

                                                                    <div class="row list disable-text-selection">
                                                                        @foreach (var d in i.Dishes)
                                                                        {

                                                                            <div class="col-xl-3 col-lg-4 col-12 col-sm-6 mb-4">
                                                                                <div class="card">
                                                                                    <div class="position-relative">
                                                                                        <a href="">
                                                                                            <img style="height:170.6px" class="card-img-top" src="@Url.Content(d.ImagePath ?? "~/Content/img/1.jpg") "
                                                                                                 alt="Фото блюда">
                                                                                        </a>
                                                                                    </div>
                                                                                    <div class="card-body">
                                                                                        <div class="row">
                                                                                            <div class="col-10">
                                                                                                <a href="">
                                                                                                    <p class="list-item-heading pt-1"><span class="dasdas">@d.Name</span></p>
                                                                                                </a>
                                                                                                <a role="button" class="btn-link" data-toggle="tooltip"
                                                                                                   data-placement="top" title="Пищевая ценность (на 100г): Белки - @d.Proteins г. Жиры - @d.Fats г. Углеводы - @d.Carbonhydrates г. Килокалории @d.Kilocalories ккал">
                                                                                                    <span style="color:#17d85b; font-size:16px;border-bottom:1px dashed black">Состав</span>
                                                                                                </a><br />
                                                                                                @if (d.GarnishesForPacks.Count != 0)
                                                                                                {
                                                                                                    <a class="btn-link mb-4" data-toggle="collapse" href="#collapseExample-d-@d.Id"
                                                                                                       role="button" aria-expanded="true" aria-controls="collapseExample">
                                                                                                        <span style="font-size:14px;border-bottom:1px dotted black">+ Добавить гарнир</span> <br />
                                                                                                    </a>
                                                                                                }
                                                                                                @if (d.GarnishesForPacks.Count != 0)
                                                                                                {
                                                                                                    <div class="collapse" id="collapseExample-d-@d.Id">
                                                                                                        <div class="mt-4">
                                                                                                            <p class="mb-0">
                                                                                                                <div style="margin-bottom:5px">
                                                                                                                    <select id="gch-@d.Id" class="form-control select2-single">
                                                                                                                        <option value="0" label="&nbsp;">Гарнир...</option>

                                                                                                                        @foreach (var f in d.GarnishesForPacks)
                                                                                                                        {
                                                                                                                            <option value="@f.Id">@f.Name</option>
                                                                                                                        }

                                                                                                                    </select>
                                                                                                                </div>
                                                                                                            <p class="list-item-heading mb-4 pt-1">
                                                                                
                                                                                                            </p>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                }

                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                        }
                                                                    </div>
                                                                </div>
                                        <br />
                                        a = a + 1;
                                    }
                                }

                            </div>

                        }
                        else
                        {
                            <div class="card-body">
                                <h2 class="mb-4">Меню на сегодня</h2>
                                <p class="text-muted  mb-0 font-weight-light">
                                    Меню на сегодня отсутсвует...
                                </p>

                            </div>
                        }
                    }
                    else
                    {
                        <p>Вы не можете совершать больше заказов</p>
                    }
                </div>

            </div>
        </div>

        <div class="modal fade modal-right select-from-library" id="libraryModal" tabindex="-1" role="dialog"
             aria-labelledby="libraryModal" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Завершите свой заказ</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <input id="sdfg" value="" type="hidden"/>
                    </div>

                    <div class="modal-body scroll pt-0 pb-0 mt-4 mb-4">
                        <div class="accordion" id="accordionSet">

                        </div>

                    </div>
                    
                    <div style="margin-left:10px;margin-right:10px" class="form-group pt-0 pb-0 mt-4 mb-4">
                        <label>Комментарий</label>
                        <textarea id="desc" class="form-control" rows="2"></textarea>
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Отмена</button>

                        <button id="endOrder" type="button" class="btn btn-primary sfl-submit">Завершить заказ</button>
                    </div>
                </div>
            </div>
        </div>


    </main>

@section Scripts {
    
    <script>

        $("body").on('click', '#togmod', function () { 
             $("#libraryModal").on("shown.bs.modal", function () { }).modal('show');
        });

      var sendIds = []
        function addInCart(dishId,catName,pId,id, dishName) {

            var dpNames = [];
            var dpImages = [];



            var jNames = $("#" + dishId).find('.dasdas');
            var jImages =  $("#" + dishId).find('.card-img-top');
           

            jNames.each(function (index, element) {
                dpNames.push(this.innerText.trim());
            });

            alert(dpNames)

            jImages.each(function (index, element) {
                dpImages.push(this.src);
            });

            alert(dpImages)

                var constCol = 'collapse-cat-' + dishId;

                //alert(catName)
          
                var isEqual = $("span:contains(" + catName + ")").last().length == 0;
                //alert($('.folder-name').contents().length)
         
                // alert(isEqual)
            if (!isEqual) {
                sendIds.push(dishId)
                //alert(1)
                   if ($(".scount").length == 0) {
                            $("#csd").append("<span style='background-color: limegreen;color: white;padding: 2px 2px 2px 2px;' class='scount'>1</span>")
                        } else {
                            var n = $(".scount").text();
                            $(".scount").text(parseInt(n) + 1)
                }

                var fdg = $("#" + dishId).find('.select2-single').find(":selected").val();
                var ndg = $("#" + dishId).find('.select2-single').find(":selected").text();
                $("#sdfg").val(fdg);
             
                var buttonCollapse = '<button class="btn btn-link p-0 folder-button-collapse" data-toggle="' + constCol + '"  data-target="#' + constCol + '" aria-expanded="true" aria-controls="' + constCol + '"><span class="icon-container"> <i class="simple-icon-arrow-down"></i></span><span class="folder-name">' + catName + '</span></button>';

                var contentCollapse = '<div id="' + constCol + '" class="collapse show" data-parent="#accordionSet"> <div class="list disable-text-selection"><div id="content-' + constCol + '" class="row"> </div></div></div>';

                var mb2 = '<div class="mb-2">' + buttonCollapse + contentCollapse + '</div>';

                var specId = 'content-' + constCol;

                $('#accordionSet').append(mb2);

                for (var i = 0,j = 0; i < dpNames.length,j < dpImages.length; i++,j++) {
                   
                        var imageDish = '<div class="d-flex align-self-stretch"> <img src="' + dpImages[j] + '" alt="изображение" class="list-media-thumbnail responsive border-0" /></div>'
                        var cardBody = '<div class="card-body pr-1 pt-2 pb-2 align-self-center d-flex min-width-zero"><div class="w-100"><p class="truncate mb-0">' + dpNames[i] + '</p></div></div>'
                        var checkLab = '<div class="custom-control custom-checkbox pl-1 pr-1 align-self-center"> <label class="custom-control custom-checkbox mb-0"> </label></div>'
                        var specCard = '<div class="d-flex flex-grow-1 min-width-zero">' + cardBody + checkLab + '</div>'
                        var cardDish = '<div class="card d-flex mb-2 p-0 media-thumb-container">' + imageDish + specCard + '</div>';

                        var dishContainer = '<div id="di-' + id + '" class="col-6 mb-1 sfl-item-container" data-preview-path="~/Content/img/chock.jpg"data-path="chock.jpg" data-label="chock.jpg">' + cardDish + '</div>'

                        $('#' + specId).append(dishContainer)
                    }
                
            }
             @* else {

                var specId = 'content-' + constCol;
                var imageDish = '<div class="d-flex align-self-stretch"> <img src="~/Content/img/chock.jpg" alt="изображение" class="list-media-thumbnail responsive border-0" /></div>'

                var cardBody = '<div class="card-body pr-1 pt-2 pb-2 align-self-center d-flex min-width-zero"><div class="w-100"><p class="truncate mb-0">' + dishName + '</p><p>'+ 'Гарнир: '+ garName +'</p></div></div>'
                var checkLab = '<div class="custom-control custom-checkbox pl-1 pr-1 align-self-center"> <label class="custom-control custom-checkbox mb-0"> <a style="margin-left:-25px" href="#" class="btn-link delete-library-item sfl-delete-item"> <i class="simple-icon-trash"></i> </a></label></div>'
                var specCard = '<div class="d-flex flex-grow-1 min-width-zero">' + cardBody + checkLab + '</div>'

                var cardDish = '<div class="card d-flex mb-2 p-0 media-thumb-container">' + imageDish + specCard + '</div>';

                var c = '<input class="certain" id="garr-' + garId + '" type="hidden" value="' + garId + '"></input>'
                var dishContainer = '<div id="di-' + id + '" class="col-6 mb-1 sfl-item-container" data-preview-path="~/Content/img/chock.jpg"data-path="chock.jpg" data-label="chock.jpg">' + cardDish + c + '</div>'


                var dId = 'di-' + id;
                if ($('#' + dId).length == 0) {
                    $('#' + specId).append(dishContainer)
                } else {
                    alert("Блюдо уже добавлено в заказ")
                }
            }*@
            /*
          $.ajax({
                type: "GET",
                url: '/Dishes/DeleteJson',
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                data: {
                    "id": dishId
                },
                type: 'GET',
                success: function (result) {
                    $('#dish-card-' + dishId).remove();
                },
                error: function () {
                    console.log("Error while calling method '/Dishes/DeleteJson'");
                }
            }); */

        }


        $("#endOrder").on('click', function () { 

            var IDs = [];
            IDs = sendIds
          
            var descr = $("#desc").val();
            var ddd = $("#sdfg").val();
          
              $.ajax({
                url: '/Orders/CreatePackOrderJson',
                type: 'POST',
                dataType: "json",
                data: {
                    'IDs': IDs,
                    'descr': descr,
                    'ddd':ddd
                },
                success: function (result) {
                  window.location.href = result.Url;
                },
                error: function () {
                    console.log("Error while calling method '/Dishes/CreateJson'");
                }
            }); 
        });
   
    </script>
    
    }