@model FoodOrder.Models.CookStatisticViewModel

@{
    Layout = "~/Views/Shared/_LayoutSystem.cshtml";
}

<div style="display:none" id="preloader">
    <div id="ctn-preloader" class="ctn-preloader">
        <div class="animation-preloader">

            <div class="txt-loading">
                <img src="~/Content/img/load.gif" alt="">
                Готовим заказ...
            </div>

        </div>
        <div class="loader">
            <div class="row">
                <div class="col-3 loader-section section-left">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-left">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-right">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-right">
                    <div class="bg"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<main>
    <div class="container-fluid disable-text-selection">
        <div class="row">
            <div class="col-12">
                <div class="mb-2">
                    <h1>Заказы клиентов</h1>
                </div>

                <ul class="nav nav-tabs separator-tabs ml-0 mb-5" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="first-tab" data-toggle="tab" href="#first" role="tab"
                           aria-controls="first" aria-selected="true">ОБЩЕЕ</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " id="second-tab" data-toggle="tab" href="#second" role="tab"
                           aria-controls="second" aria-selected="false">КОМПАНИИ</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " id="three-tab" data-toggle="tab" href="#three" role="tab"
                           aria-controls="three" aria-selected="false">СОТРУДНИКИ</a>
                    </li>
                </ul>

            </div>
        </div>

        <div class="tab-content">

            <div class="tab-pane show active" id="first" role="tabpanel" aria-labelledby="first-tab">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <h2>Всего заказано блюд</h2>
                        </div>
                        <div class="col-12">
                            <ul style="margin-bottom:1em!important" class="nav nav-tabs separator-tabs ml-0 mb-5" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="firstDish-tab" data-toggle="tab" href="#firstDish" role="tab"
                                       aria-controls="firstDish" aria-selected="true">НАДО ПРИГОТОВИТЬ</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link " id="secondDish-tab" data-toggle="tab" href="#secondDish" role="tab"
                                       aria-controls="secondDish" aria-selected="false">СГОТОВЛЕНО</a>
                                </li>
                            </ul>
                            <div class="tab-content">

                                <div class="tab-pane show active" id="firstDish" role="tabpanel" aria-labelledby="firstDish-tab">
                                    <div class="top-right-button-container">
                                        <div class="btn-group">
                                            <div class="btn btn-primary btn-lg pl-4 pr-0 check-button">
                                                <label class="custom-control custom-checkbox mb-0 d-inline-block">
                                                    <input type="checkbox" class="custom-control-input" id="checkAllDataTables">
                                                    <span class="custom-control-label">&nbsp;</span>
                                                </label>
                                            </div>
                                            <button type="button" class="btn btn-lg btn-primary dropdown-toggle dropdown-toggle-split"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="sr-only">Действия</span>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a id="doCook" class="dropdown-item" href="#">Приготовить</a>
                                            </div>
                                        </div>
                                    </div>

                                    <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                                    </nav>
                                    <div class="mb-2">
                                        <a class="btn pt-0 pl-0 d-inline-block d-md-none" data-toggle="collapse" href="#displayOptions"
                                           role="button" aria-expanded="true" aria-controls="displayOptions">
                                            Отображение
                                            <i class="simple-icon-arrow-down align-middle"></i>
                                        </a>
                                        <div class="collapse dont-collapse-sm" id="displayOptions">
                                            <div class="d-block d-md-inline-block">
                                                <div class="search-sm d-inline-block float-md-left mr-1 mb-1 align-top">
                                                    <input class="form-control" placeholder="Поиск в таблице" id="searchDatatable">
                                                </div>
                                            </div>
                                            <div style="margin-right:20px" class="float-md-right dropdown-as-select" id="pageCountDatatable">
                                                <span class="text-muted text-small">Отображать кол-во элементов </span>
                                                <button class="btn btn-outline-dark btn-xs dropdown-toggle" type="button"
                                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    10
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="#">5</a>
                                                    <a class="dropdown-item active" href="#">10</a>
                                                    <a class="dropdown-item" href="#">20</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="separator"></div>

                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-12 mb-4 data-table-rows data-tables-hide-filter">
                                                <table id="datatableRows" class="data-table responsive nowrap"
                                                       data-order="[[ 1, &quot;desc&quot; ]]">
                                                    <thead>
                                                        <tr>
                                                            <th>Название блюда</th>
                                                            <th>Количество порций</th>
                                                            <th>Категория блюда</th>
                                                            <th>Статус</th>
                                                            <th class="empty">&nbsp;</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="notReady">
                                                        @foreach (var i in Model.DishStatistics.Where(s => s.IsReady == false))
{
                                                            <tr id="@i.Id">
                                                                <td>
                                                                    <p class="list-item-heading">@i.DishName</p>
                                                                </td>
                                                                <td>
                                                                    <p class="text-muted">@i.Count</p>
                                                                </td>
                                                                <td>
                                                                    <p class="text-muted">Основное блюдо</p>
                                                                </td>
                                                                <td>
                                                                    <p class="text-muted">@(i.IsReady == true ? "Приготовлено" : "Не приготовлено")</p>
                                                                </td>
                                                                <td>
                                                                    <label class="custom-control custom-checkbox mb-1 align-self-center data-table-rows-check">
                                                                        <input value="@i.Id" type="checkbox" class="custom-control-input">
                                                                        <span class="custom-control-label">&nbsp;</span>
                                                                    </label>
                                                                </td>
                                                            </tr>
}

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="tab-pane fade" id="secondDish" role="tabpanel" aria-labelledby="secondDish-tab">
                                    <div class="row mb-4">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <table class="data-table data-table-scrollable responsive nowrap"
                                                           data-order="[[ 1, &quot;desc&quot; ]]">
                                                        <thead>
                                                            <tr>
                                                                <th>Название блюда</th>
                                                                <th>Количество порций</th>
                                                                <th>Категория блюда</th>
                                                                <th>Статус</th>
                                                                <th class="empty">&nbsp;</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="Ready">
                                                            @foreach (var i in Model.DishStatistics.Where(s => s.IsReady == true))
{
                                                                <tr>
                                                                    <td>
                                                                        <p class="list-item-heading">@i.DishName</p>
                                                                    </td>
                                                                    <td>
                                                                        <p class="text-muted">@i.Count</p>
                                                                    </td>
                                                                    <td>
                                                                        <p class="text-muted">Основное блюдо</p>
                                                                    </td>
                                                                    <td>
                                                                        <p class="text-muted">@(i.IsReady == true ? "Приготовлено" : "Не приготовлено")</p>
                                                                    </td>
                                                                    <td>
                                                                        <label class="custom-control custom-checkbox mb-1 align-self-center data-table-rows-check">
                                                                            <input type="checkbox" class="custom-control-input">
                                                                            <span class="custom-control-label">&nbsp;</span>
                                                                        </label>
                                                                    </td>
                                                                </tr>
}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>




                            </div>

                        </div>


                    </div>



                </div>
            </div>

            <div class="tab-pane fade" id="second" role="tabpanel" aria-labelledby="second-tab">
                <div class="row">
                    <div class="col-12 list" data-check-all="checkAll">

                        <div class="top-right-button-container">
                            <div class="btn-group">
                                <div class="btn btn-primary btn-lg pl-4 pr-0 check-button">
                                    <label class="custom-control custom-checkbox mb-0 d-inline-block">
                                        <input type="checkbox" class="custom-control-input" id="checkAllDataTables">
                                        <span class="custom-control-label">&nbsp;</span>
                                    </label>
                                </div>
                                <button type="button" class="btn btn-lg btn-primary dropdown-toggle dropdown-toggle-split"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Действия</span>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a id="doCook" class="dropdown-item" href="#">Приготовить</a>
                                </div>
                            </div>
                        </div>

                        <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                        </nav>
                        <div class="mb-2">
                            <a class="btn pt-0 pl-0 d-inline-block d-md-none" data-toggle="collapse" href="#displayOptions"
                               role="button" aria-expanded="true" aria-controls="displayOptions">
                                Отображение
                                <i class="simple-icon-arrow-down align-middle"></i>
                            </a>
                            <div class="collapse dont-collapse-sm" id="displayOptions">
                                <div class="d-block d-md-inline-block">
                                    <div class="search-sm d-inline-block float-md-left mr-1 mb-1 align-top">
                                        <input class="form-control" placeholder="Поиск в таблице" id="searchDatatable">
                                    </div>
                                </div>
                                <div style="margin-right:20px" class="float-md-right dropdown-as-select" id="pageCountDatatable">
                                    <span class="text-muted text-small">Отображать кол-во элементов </span>
                                    <button class="btn btn-outline-dark btn-xs dropdown-toggle" type="button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        10
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">5</a>
                                        <a class="dropdown-item active" href="#">10</a>
                                        <a class="dropdown-item" href="#">20</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="separator"></div>
                        <br />

                        <div class="list disable-text-selection" data-check-all="checkAll">
                            @{
                                var a = 0;
                                foreach (FoodOrder.Models.CompanyDishStat i in ViewBag.Stats)
                                {
                                    <div class="col-12">
                                        <div class="card d-flex flex-row mb-3">
                                            <div class="d-flex flex-grow-1 min-width-zero">
                                                <div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                                                    <a class="list-item-heading mb-0 truncate w-40 w-xs-100 mt-0" href="Apps.Survey.html">
                                                        <span class="align-middle d-inline-block">@i.CompanyName</span>
                                                    </a>
                                                    <p class="mb-0 text-muted text-small w-15 w-xs-100">Информация</p>
                                                    <p class="mb-0 text-muted text-small w-15 w-xs-100">Статус</p>
                                                    <div class="w-15 w-xs-100">
                                                        <span class="btn-link" data-toggle="collapse" href="#collapseExample-d-@a"
                                                              role="button" aria-expanded="true" aria-controls="collapseExample">Заказы</span>
                                                    </div>
                                                </div>
                                                <label class="custom-control custom-checkbox mb-1 align-self-center mr-4">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label">&nbsp;</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                            <div class="col-12">
                                    <div class="collapse" id="collapseExample-d-@a">
                                        <div class="col-8">
                                            @foreach (var v in i.statGarnDishes)
                                            {
                                            <div class="card d-flex flex-row mb-3">
                                                <div class="d-flex flex-grow-1 min-width-zero">
                                                    <div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                                                        <a class="list-item-heading mb-0 truncate w-40 w-xs-100 mt-0" href="">

                                                            <span class="align-middle d-inline-block">@v.Name</span>
                                                        </a>
                                                        <p class="mb-0 text-muted text-small w-15 w-xs-100">@v.Count</p>
                                                        
                                                    </div>
                                                    <label class="custom-control custom-checkbox mb-1 align-self-center mr-4">
                                                        <input type="checkbox" class="custom-control-input">
                                                        <span class="custom-control-label">&nbsp;</span>
                                                    </label>
                                                </div>
                                            </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                    a = a + 1;
                                }

                            }
                        </div>

                    </div>
                </div>

            </div>

            <div class="tab-pane fade" id="three" role="tabpanel" aria-labelledby="three-tab">
                <div class="row">
                    <div class="col-12 list" data-check-all="checkAll">

                        <div class="card d-flex flex-row mb-3">

                            <div class="d-flex flex-grow-1 min-width-zero">
                                <div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                                    <a class="list-item-heading mb-0 truncate w-40 w-xs-100" href="">
                                        Заказ №1
                                    </a>

                                    <p class="mb-0 text-muted text-small w-15 w-xs-100">LLC Aligofren Incorporated</p>

                                    <p class="mb-0 text-muted text-small w-15 w-xs-100">01.04.2018</p>

                                    <div class="w-15 w-xs-100">
                                        <a class="btn btn-primary mb-1" data-toggle="collapse" href="#collapseExample"
                                           role="button" aria-expanded="true" aria-controls="collapseExample">
                                            Детали заказа
                                        </a>
                                    </div>

                                </div>
                                <label class="custom-control custom-checkbox mb-1 align-self-center pr-4">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-label">&nbsp;</span>
                                </label>
                            </div>
                        </div>

                        <div class="collapse" id="collapseExample">
                            <div class="p-4 border mt-4">

                                <div class="row mb-4">
                                    <div class="col-md-12 mb-4 pl-0 pr-0">

                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>



    </div>
</main>


@section Scripts {

    <script>

        $("#doCook").on('click', function () {
            $("#preloader").attr('display','')
            var searchingTable = '#notReady';
            var searchIDs = $(searchingTable + " input:checkbox:checked").map(function () {
                return $(this).val();
            }).get();

            $.ajax({
                url: '/Dishes/ChangeStatus',
                type: 'POST',
                dataType: "json",
                data: {
                    'IDs': searchIDs,
                },
                success: function (result) {
                    for (var i = 0; i < searchIDs.length; i++) {
                        $("#" + searchIDs[i]).remove()
                    }
                },
                error: function () {
                    console.log("Error while calling method");
                }
            });
             $("#preloader").hide()

        });



    </script>



}

