@model FoodOrder.Models.MenuViewModel

@{
    Layout = "~/Views/Shared/_LayoutSystem.cshtml";
    ViewBag.Title = "Меню на сегодня";
}
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1>Меню на сегодня</h1>
                    <div class="separator mb-5"></div>
                </div>

                <div class="col-12">

                    @if (Model != null)
                    {
                        <div class="card-body">
                            <h2 class="mb-4">Меню на 06.11.2019</h2>
                          
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h5 class="mb-4">Веганское меню</h5>

                                    <p style="margin-top:-15px;margin-bottom:10px" class="text-muted text-small mb-0 font-weight-light">18.08.2019</p>
                                    <div style="margin-top: 20px;" id="accordion">

                                        @foreach (var i in Model.DishCategories)
                                        {
                                            <div class="border">
                                                <button style="" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne-@i.Id"
                                                        aria-expanded="true" aria-controls="collapseOne">
                                                    <span>@i.Name</span>
                                                    <span style="color:green" class="badge badge-light">@i.Dishes.Count</span>
                                                </button>

                                                <div id="collapseOne-@i.Id" class="collapse" data-parent="#accordion">
                                                    <div class="row list disable-text-selection" data-check-all="checkAll">
                                                        @foreach (var dish in i.Dishes)
                                                        {
                                                            <div style="padding-right:0; padding-left:25px" id="dish-card-n-@dish.Id" class="col-xl-3 col-lg-4 col-12 col-sm-6 mb-4">
                                                                <div class="card">
                                                                    <div class="position-relative">
                                                                        <div class="position-absolute card-top-buttons">

                                                                        </div>
                                                                        <a href="">
                                                                            <img class="card-img-top" src="~/Content/img/1.jpg"
                                                                                 alt="Фото блюда">
                                                                        </a>
                                                                    </div>
                                                                    <div class="card-body">
                                                                        <div class="row">
                                                                            <div class="col-10">
                                                                                <a>
                                                                                    <p class="list-item-heading  pt-1"><strong class="dish-name">@dish.Name</strong></p>
                                                                                </a>
                                                                                <p class="list-item-heading  dish-category-name">@dish.DishCategory.Name</p>
                                                                                @if (dish.HasGarnish)
                                                                                {
                                                                                    <p class="list-item-heading  dish-garnish">C гарниром : @dish.Garnish.Name</p>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <p class="list-item-heading  dish-garnish">Без гарнира</p>
                                                                                }
                                                                                <a class="btn btn-primary mb-1" data-toggle="collapse" href="#collapseExample-d-@dish.Id"
                                                                                   role="button" aria-expanded="true" aria-controls="collapseExample">
                                                                                    Подробнее
                                                                                </a>
                                                                               
                                                                                <a href="#" class="btn btn-outline-primary rounded notify-btn mb-1" data-from="top" data-align="center">
                                                                                    <i class="iconsminds-add-cart"></i>
                                                                                    Добавить
                                                                                </a>

                                                                                <div class="collapse" id="collapseExample-d-@dish.Id">
                                                                                    <div class="mt-4">
                                                                                        <p class="mb-0">
                                                                                        <p class="list-item-heading mb-4 pt-1">
                                                                                            Пищевая ценность (на 100г):<br />
                                                                                            Белки - <span class="dish-proteins">@dish.Proteins</span> г<br />
                                                                                            Жиры - <span class="dish-fats">@dish.Fats</span> г<br />
                                                                                            Углеводы - <span class="dish-carbonhydrates">@dish.Carbonhydrates</span> г<br />
                                                                                            <span class="dish-kilocalories">@dish.Kilocalories</span> ккал
                                                                                        </p>
                                                                                    </div>
                                                                                </div>

                                                                                <footer style="margin-top:10px">
                                                                                    <p class="text-muted text-small mb-0 font-weight-light">@dish.DateOfCreation.ToShortDateString()</p>
                                                                                </footer>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>



                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        }


                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="card-body">
                            <h2 class="mb-4">Меню на сегодня</h2>
                            <p class="text-muted  mb-0 font-weight-light">
                                Вы не создавали еще меню на сегодня...
                            </p>

                        </div>
                    }
                </div>


            </div>
        </div>

        <div class="modal fade modal-right select-from-library" id="libraryModal" tabindex="-1" role="dialog"
             aria-labelledby="libraryModal" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Завершите свой заказ</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body scroll pt-0 pb-0 mt-4 mb-4">
                        <div class="accordion" id="accordion">
                            <div class="mb-2">
                                <button class="btn btn-link p-0 folder-button-collapse" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <span class="icon-container">
                                        <i class="simple-icon-arrow-down"></i>
                                    </span>
                                    <span class="folder-name">Горячее</span>
                                </button>
                                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                    <div class="list disable-text-selection">
                                        <div class="row">

                                            <div class="col-6 mb-1 sfl-item-container"
                                                 data-preview-path="~/Content/img/chock.jpg"
                                                 data-path="chock.jpg"
                                                 data-label="chock.jpg">
                                                <div class="card d-flex mb-2 p-0 media-thumb-container">
                                                    <div class="d-flex align-self-stretch">
                                                        <img src="~/Content/img/chock.jpg" alt="изображение"
                                                             class="list-media-thumbnail responsive border-0" />
                                                    </div>
                                                    <div class="d-flex flex-grow-1 min-width-zero">
                                                        <div class="card-body pr-1 pt-2 pb-2 align-self-center d-flex min-width-zero">
                                                            <div class="w-100">
                                                                <p class="truncate mb-0">chock.jpg</p>
                                                            </div>
                                                        </div>
                                                        <div class="custom-control custom-checkbox pl-1 pr-1 align-self-center">
                                                            <label class="custom-control custom-checkbox mb-0">
                                                                <input type="checkbox" class="custom-control-input">
                                                                <span class="custom-control-label"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-2">
                                <button class="btn btn-link p-0 folder-button-collapse collapsed" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <span class="icon-container">
                                        <i class="simple-icon-arrow-down"></i>
                                    </span>
                                    <span class="folder-name">Супы</span>
                                </button>

                                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                    <div class="list disable-text-selection">
                                        <div class="row">
                                            <div class="col-6 mb-1 sfl-item-container"
                                                 data-preview-path="~/Content/img/chock.jpg"
                                                 data-path="chock.jpg"
                                                 data-label="chock.jpg">
                                                <div class="card d-flex mb-2 p-0 media-thumb-container">
                                                    <div class="d-flex align-self-stretch">
                                                        <img src="~/Content/img/chock.jpg" alt="uploaded image"
                                                             class="list-media-thumbnail responsive border-0" />
                                                    </div>
                                                    <div class="d-flex flex-grow-1 min-width-zero">
                                                        <div class="card-body pr-1 pt-2 pb-2 align-self-center d-flex min-width-zero">
                                                            <div class="w-100">
                                                                <p class="truncate mb-0">chocolate-cake-thumb.jpg</p>
                                                            </div>
                                                        </div>
                                                        <div class="custom-control custom-checkbox pl-1 pr-1 align-self-center">
                                                            <label class="custom-control custom-checkbox mb-0">
                                                                <input type="checkbox" class="custom-control-input">
                                                                <span class="custom-control-label"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                          
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Отмена</button>
                        <button type="button" class="btn btn-primary sfl-submit">Завершить заказ</button>
                    </div>
                </div>
            </div>
        </div>


    </main>

@section Scripts {
    
    <script>

        $("body").on('click', '#togmod', function () { 

             $("#libraryModal").on("shown.bs.modal", function () {  //Tell what to do on modal open
            
        }).modal('show');

   
        });

    </script>
    
    }