@model FoodOrder.Models.NewEmployeeViewModel

    @{

        Layout = "~/Views/Shared/_LayoutSystem.cshtml";
    }

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <main>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">

                        <h1>Создание профиля</h1>

                        <div class="separator mb-5"></div>

                    </div>
                </div>

                <div class="row">

                    <div class="col-12 col-lg-6 mb-5">

                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="mb-4">Форма создания</h5>
                                <form class="needs-validation tooltip-label-right" novalidate>

                                    @Html.Hidden("Id", Model.Id)

                                    <div class="form-group position-relative error-l-50">
                                        @Html.LabelFor(model => model.Name, "Имя")
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                        <div class="invalid-tooltip">
                                            Укажите имя!
                                        </div>
                                    </div>

                                    <div class="form-group position-relative error-l-50">
                                        @Html.LabelFor(model => model.Surname, "Фамилия")
                                        @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                        <div class="invalid-tooltip">
                                            Укажите фамилию!
                                        </div>
                                    </div>

                                    <div class="form-group position-relative error-l-50">
                                        @Html.LabelFor(model => model.Patronymic, "Отчество")
                                        @Html.EditorFor(model => model.Patronymic, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>

                                    <div class="form-group position-relative error-l-50">
                                        @Html.LabelFor(model => model.Age, "Возраст")
                                        <input type="number" name="Age" class="form-control" min="0" max="100" step="1" oninput="validity.valid||(value='');" />
                                    </div>

                                    <div class="form-group position-relative error-l-50">
                                        @Html.LabelFor(model => model.PhoneNumber, "Телефон")
                                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                        <div class="invalid-tooltip">
                                            Укажите корректный номер телефона!
                                        </div>
                                    </div>

                                    <div class="form-group position-relative error-l-50">
                                        @Html.LabelFor(model => model.UserName, "Логин")
                                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                        <div class="invalid-tooltip">
                                            Укажите корректный логин!
                                        </div>
                                    </div>

                                    <div style="display:none" class="form-group position-relative error-l-75">
                                        <label>Текущий пароль</label>
                                        <input type="password" class="form-control" value="@Model.OldPassword" name="OldPassword" id="rulesPassword">
                                        <small class="form-text text-muted">Не меньше 6 символов!</small>
                                    </div>

                                    <div class="form-group position-relative error-l-125">
                                        <label>Новый пароль</label>
                                        <input type="password" class="form-control" name="NewPassword"
                                               id="rulesPasswordConfirm">
                                        <small class="form-text text-muted">Пароль должен быть одинковый!</small>
                                    </div>

                                    <div class="form-group position-relative error-l-125">
                                        <label>Подтвердите новый пароль</label>
                                        <input type="password" class="form-control" name="ConfirmPassword"
                                               id="rulesPasswordConfirm">
                                        <small class="form-text text-muted">Пароль должен быть одинаковый</small>
                                    </div>

                                    <button type="submit" class="btn btn-primary mb-0">Подтвердить изменения</button>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </main>
    }
