@model FoodOrder.Models.UserViewModel
@{
    Layout = "~/Views/Shared/_LayoutSystem.cshtml";
    ViewBag.Title = "Личный кабинет сотрудника";
}

    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="mb-2">
                        <h1>Имя сотрудника</h1>
                        <div class="text-zero top-right-button-container">
                            <button type="button"
                                    class="btn btn-lg btn-outline-primary dropdown-toggle dropdown-toggle-split top-right-button top-right-button-single"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Действия
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="/Users/Edit/@Model.Id">Редактировать</a>
                            </div>
                        </div>

                    </div>
                    <p class="text-success">@ViewBag.StatusMessage</p>
                    <ul class="nav nav-tabs separator-tabs ml-0 mb-5" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="first-tab" data-toggle="tab" href="#first" role="tab"
                               aria-controls="first" aria-selected="true">ПРОФИЛЬ</a>
                        </li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane show active" id="first" role="tabpanel" aria-labelledby="first-tab">
                            <div class="row">
                                <div class="col-12 mb-5">
                                    <img style="height:150px" class="social-header card-img" src="~/Content/img/social-header.png" />
                                </div>
                                <div class="col-12 col-lg-5 col-xl-4 col-left">
                                    <a href="img/profile-pic.jpg" class="lightbox">
                                        <img alt="Profile" src="~/Content/img/profile-pic-p.png"
                                             class="img-thumbnail card-img social-profile-img">
                                    </a>

                                    <div class="card mb-4">
                                        <div class="card-body">
                                            <div class="text-center pt-4">
                                                <p class="list-item-heading pt-2">@Model.Surname @Model.Name @Model.Patronymic</p>
                                            </div>
                                            <p class="mb-3">
                                                Описание пользователя
                                            </p>

                                            <p class="text-muted text-small mb-2">Название компании</p>
                                            <p class="mb-3">@Model.Company.Name</p>

                                            <p class="text-muted text-small mb-2">Логин</p>
                                            <p class="mb-3">@Model.UserName</p>

                                            <p class="text-muted text-small mb-2">Email</p>
                                            <p class="mb-3">@Model.Email</p>

                                            <p class="text-muted text-small mb-2">Телефон</p>
                                            <p class="mb-3">@Model.PhoneNumber</p>


                                            <p class="text-muted text-small mb-2">Контакты</p>
                                            <div class="social-icons">
                                                <ul class="list-unstyled list-inline">
                                                    <li class="list-inline-item">
                                                        <a href="#"><i class="simple-icon-social-facebook"></i></a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#"><i class="simple-icon-social-twitter"></i></a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#"><i class="simple-icon-social-instagram"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-lg-7 col-xl-8 col-right">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>