@model IEnumerable<FoodOrder.Models.User>

@{
    Layout = null;
    ViewBag.Title = "Личный кабинет представителя компании";
}

<h2>Компания @ViewBag.CompanyName</h2>

<p>
    @Html.ActionLink("Добавить нового сотрудника", "Create", "Users")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", "Users", new { id = item.Id }, null) |
                @Html.ActionLink("Подробнее", "Details", "Users", new { id = item.Id }, null) |
                @Html.ActionLink("Удалить", "Delete", "Users", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>
