@using FoodOrder.Models;
@model FoodOrder.Models.MenuViewModel

@{
    Layout = "~/Views/Shared/_LayoutSystem.cshtml";
    ViewBag.Title = " ";
}

<main>
    <div class="row">
        <div class="col-12">
            <h1>Личный кабинет повара</h1>

            <div class="separator mb-5"></div>
        </div>
        <div id="create-dish-popup" class="col-md-6 col-lg-4 mb-4">
            <div data-toggle="modal" data-backdrop="static" data-target="#exampleModal" style="height:180px" class="card dashboard-sq-banner justify-content-end">
                <div style="width:330px" class="card-body justify-content-end d-flex flex-column">
                    <span style="background-color:#9fc867 !important" class="badge badge-pill badge-theme-3 align-self-start mb-3"><i style="font-size: 23px; color: white" class=iconsminds-add></i></span>
                    <p class="lead text-white"><i style=" color: white" class="iconsminds-chopsticks"></i> Добавить блюдо  </p>
                </div>
            </div>
        </div>

        <div id="create-menu-popup" class="col-md-6 col-lg-4 mb-4">
            <a href="/Menu/Create">
                <div style="height:180px" class="card dashboard-sq-banner justify-content-end">
                    <div style="width:330px" class="card-body justify-content-end d-flex flex-column">
                        <span style="background-color:#9fc867 !important" class="badge badge-pill badge-theme-3 align-self-start mb-3"><i style="font-size: 23px; color: white" class=iconsminds-add></i></span>
                        <p class="lead text-white"><i style=" color: white" class="iconsminds-chef-hat"></i> Составить меню  </p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-12">

            @if (Model != null)
            {
                <div class="card-body">
                    <h2 class="mb-4">Меню на сегодня</h2>

                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="mb-4">Веганское меню</h5>
                            <p style="margin-top:-15px;margin-bottom:10px" class="text-muted text-small mb-0 font-weight-light">18.08.2019</p>
                            <div style="margin-top: 20px;" id="accordion">

                                @foreach (var i in Model.DishCategories)
                                {

                                    <div class="border">
                                        <button style="" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne-@i.Id"
                                                aria-expanded="true" aria-controls="collapseOne">
                                            <span>@i.Name</span>
                                            <span style="color:green" class="badge badge-light">@i.Dishes.Count</span>
                                        </button>

                                        <div id="collapseOne-@i.Id" class="collapse" data-parent="#accordion">
                                            <div class="row list disable-text-selection" data-check-all="checkAll">
                                                @foreach (var dish in i.Dishes)
                                                {
                                                    <div id="dish-card-n-@dish.Id" class="col-xl-3 col-lg-4 col-12 col-sm-6 mb-4">
                                                        <div class="card">
                                                            <div class="position-relative">
                                                                <div class="position-absolute card-top-buttons">

                                                                    <button class="btn btn-outline-white icon-button" title="Редактировать"
                                                                            data-toggle="modal" data-backdrop="static" data-target="#exampleModal" onclick="EditDish('@dish.Id', '@dish.HasGarnish'=='@true')">
                                                                        <i class="simple-icon-pencil"></i>
                                                                    </button>

                                                                    <button class="btn btn-outline-white icon-button" onclick="DeleteDish('@dish.Id')" title="Удалить">
                                                                        <i class="simple-icon-trash"></i>
                                                                    </button>
                                                                </div>
                                                                <a href="">
                                                                    <img class="card-img-top" src="~/Content/img/1.jpg"
                                                                         alt="Фото блюда">

                                                                </a>

                                                            </div>
                                                            <div class="card-body">
                                                                <div class="row">

                                                                    <div class="col-10">
                                                                        <a>
                                                                            <p class="list-item-heading mb-4 pt-1"><strong class="dish-name">@dish.Name</strong></p>
                                                                        </a>
                                                                        <p class="list-item-heading mb-4 pt-1 dish-category-name">@dish.DishCategory.Name</p>
                                                                        @if (dish.HasGarnish)
                                                                        {
                                                                            <p class="list-item-heading mb-4 pt-1 dish-garnish">C гарниром : @dish.Garnish.Name</p>
                                                                        }
                                                                        else
                                                                        {
                                                                            <p class="list-item-heading mb-4 pt-1 dish-garnish">Без гарнира</p>
                                                                        }
                                                                        <a class="btn btn-primary mb-1" data-toggle="collapse" href="#collapseExample-d-@dish.Id"
                                                                           role="button" aria-expanded="true" aria-controls="collapseExample">
                                                                            Подробнее
                                                                        </a>
                                                                        <div class="collapse" id="collapseExample-d-@dish.Id">
                                                                            <div class="mt-4">
                                                                                <p class="mb-0">
                                                                                <p class="list-item-heading mb-4 pt-1">
                                                                                    Пищевая ценность (на 100г):<br />
                                                                                    Белки - <span class="dish-proteins">@dish.Proteins</span> г<br />
                                                                                    Жиры - <span class="dish-fats">@dish.Fats</span> г<br />
                                                                                    Углеводы - <span class="dish-carbonhydrates">@dish.Carbonhydrates</span> г<br />
                                                                                    <span class="dish-kilocalories">@dish.Kilocalories</span> ккал
                                                                                </p>
                                                                            </div>
                                                                        </div>

                                                                        <footer style="margin-top:10px">
                                                                            <p class="text-muted text-small mb-0 font-weight-light">@dish.DateOfCreation.ToShortDateString()</p>
                                                                        </footer>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>



                                                }
                                            </div>
                                        </div>
                                    </div>
                                }


                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="card-body">
                    <h2 class="mb-4">Меню на сегодня</h2>
                    <p class="text-muted  mb-0 font-weight-light">
                        Вы не создавали еще меню на сегодня...
                    </p>

                </div>
            }


            <br />

            <h2 class="mb-4">Раздел блюд</h2>

            <ul class="nav nav-tabs separator-tabs ml-0 mb-5" role="tablist">
                <li class="nav-item">
                    <a id="adad" class="nav-link active" id="first-tab" data-toggle="tab" href="#first" role="tab"
                       aria-controls="first" aria-selected="true">БЛЮДА</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " id="second-tab" data-toggle="tab" href="#second" role="tab"
                       aria-controls="second" aria-selected="false">НАБОРЫ БЛЮД (ПАКИ)</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane show active" id="first" role="tabpanel" aria-labelledby="first-tab">
                    <div class="row">
                        <div class="col-12 ">
                            <div class="row list disable-text-selection" data-check-all="checkAll" id="dish-cards">
                                @foreach (var dish in (List<Dish>)ViewData["Dishes"])
                                {
                                    <div id="dish-card-@dish.Id" class="col-xl-3 col-lg-4 col-12 col-sm-6 mb-4">
                                        <div class="card">
                                            <div class="position-relative">
                                                <div class="position-absolute card-top-buttons">

                                                    <button class="btn btn-outline-white icon-button" title="Редактировать"
                                                            data-toggle="modal" data-backdrop="static" data-target="#exampleModal" onclick="EditDish('@dish.Id', '@dish.HasGarnish'=='@true')">
                                                        <i class="simple-icon-pencil"></i>
                                                    </button>

                                                    <button class="btn btn-outline-white icon-button" onclick="DeleteDish('@dish.Id')" title="Удалить">
                                                        <i class="simple-icon-trash"></i>
                                                    </button>
                                                </div>
                                                <a href="">
                                                    <img class="card-img-top" src="~/Content/img/1.jpg"
                                                         alt="Фото блюда">

                                                </a>

                                            </div>
                                            <div class="card-body">
                                                <div class="row">

                                                    <div class="col-10">
                                                        <a>
                                                            <p class="list-item-heading mb-4 pt-1"><strong class="dish-name">@dish.Name</strong></p>
                                                        </a>
                                                        <p class="list-item-heading mb-4 pt-1 dish-category-name">@dish.DishCategory.Name</p>
                                                        @if (dish.HasGarnish)
                                                        {
                                                            <p class="list-item-heading mb-4 pt-1 dish-garnish">C гарниром : @dish.Garnish.Name</p>
                                                        }
                                                        else
                                                        {
                                                            <p class="list-item-heading mb-4 pt-1 dish-garnish">Без гарнира</p>
                                                        }
                                                        <a class="btn btn-primary mb-1" data-toggle="collapse" href="#collapseExample-d-@dish.Id"
                                                           role="button" aria-expanded="true" aria-controls="collapseExample">
                                                            Подробнее
                                                        </a>
                                                        <div class="collapse" id="collapseExample-d-@dish.Id">
                                                            <div class="mt-4">
                                                                <p class="mb-0">
                                                                <p class="list-item-heading mb-4 pt-1">
                                                                    Пищевая ценность (на 100г):<br />
                                                                    Белки - <span class="dish-proteins">@dish.Proteins</span> г<br />
                                                                    Жиры - <span class="dish-fats">@dish.Fats</span> г<br />
                                                                    Углеводы - <span class="dish-carbonhydrates">@dish.Carbonhydrates</span> г<br />
                                                                    <span class="dish-kilocalories">@dish.Kilocalories</span> ккал
                                                                </p>
                                                            </div>
                                                        </div>

                                                        <footer style="margin-top:10px">
                                                            <p class="text-muted text-small mb-0 font-weight-light">@dish.DateOfCreation.ToShortDateString()</p>
                                                        </footer>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                    </div>
                </div>

                <div class="tab-pane fade" id="second" role="tabpanel" aria-labelledby="second-tab">
                    <div class="row">
                        <div class="select-from-library-container mb-1">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-xl-4">
                                    <div class="select-from-library-button sfl-multiple mb-5"
                                         data-library-id="#libraryModal" data-count="-1">
                                        <div class="card d-flex flex-row mb-4 media-thumb-container justify-content-center align-items-center">
                                            Сформировать пак из блюд...
                                        </div>
                                    </div>

                                    <div class="selected-library-item sfl-selected-item mb-5">
                                        <div class="card d-flex flex-row media-thumb-container">
                                            <a class="d-flex align-self-center">
                                                <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                                                     alt="uploaded image"
                                                     class="list-media-thumbnail responsive border-0 sfl-selected-item-image" />
                                            </a>
                                            <div class="d-flex flex-grow-1 min-width-zero">
                                                <div class="card-body align-self-center d-flex flex-column justify-content-between min-width-zero align-items-lg-center">
                                                    <a class="w-100">
                                                        <p class="list-item-heading mb-1 truncate sfl-selected-item-label">
                                                        </p>
                                                    </a>
                                                </div>
                                                <div class="pl-1 align-self-center">
                                                    <a href="#"
                                                       class="btn-link delete-library-item sfl-delete-item">
                                                        <i class="simple-icon-trash"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-12 list" data-check-all="checkAll">
                                    <div class="row list disable-text-selection" data-check-all="checkAll">
                                        <div class="col-xl-3 col-lg-4 col-12 col-sm-6 mb-4">
                                            <div class="card">
                                                <div class="position-relative">
                                                    <a href="Pages.Product.Detail.html">
                                                        <img class="card-img-top" src="img/.jpg"
                                                             alt="Фото блюда">
                                                    </a>
                                                </div>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-2">
                                                            <div class="custom-control custom-checkbox pl-1">
                                                                <label class="custom-control custom-checkbox  mb-0">
                                                                    <input type="checkbox" class="custom-control-input">
                                                                    <span class="custom-control-label">&nbsp;</span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-10">
                                                            <a href="Pages.Product.Detail.html">
                                                                <p class="list-item-heading mb-4 pt-1">Рыба с мясом</p>
                                                            </a>
                                                            <footer>
                                                                <p class="text-muted text-small mb-0 font-weight-light">18.08.2019</p>
                                                            </footer>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-3 col-lg-4 col-12 col-sm-6 mb-4">
                                            <div class="card">
                                                <div class="position-relative">
                                                    <a href="">
                                                        <img class="card-img-top" src="img/.jpg"
                                                             alt="Фото блюда">
                                                    </a>
                                                </div>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-2">
                                                            <div class="custom-control custom-checkbox pl-1">
                                                                <label class="custom-control custom-checkbox  mb-0">
                                                                    <input type="checkbox" class="custom-control-input">
                                                                    <span class="custom-control-label">&nbsp;</span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-10">
                                                            <a href="Pages.Product.Detail.html">
                                                                <p class="list-item-heading mb-4 pt-1">Рыба с мясом</p>
                                                            </a>
                                                            <footer>
                                                                <p class="text-muted text-small mb-0 font-weight-light">18.08.2019</p>
                                                            </footer>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-xl-3 col-lg-4 col-12 col-sm-6 mb-4">
                                            <div class="card">
                                                <div class="position-relative">
                                                    <a href="Pages.Product.Detail.html">
                                                        <img class="card-img-top" src="img/.jpg"
                                                             alt="Фото блюда">
                                                    </a>
                                                </div>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-2">
                                                            <div class="custom-control custom-checkbox pl-1">
                                                                <label class="custom-control custom-checkbox  mb-0">
                                                                    <input type="checkbox" class="custom-control-input">
                                                                    <span class="custom-control-label">&nbsp;</span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-10">
                                                            <a href="Pages.Product.Detail.html">
                                                                <p class="list-item-heading mb-4 pt-1">Рыба с мясом</p>
                                                            </a>
                                                            <footer>
                                                                <p class="text-muted text-small mb-0 font-weight-light">18.08.2019</p>
                                                            </footer>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                    </div>

                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-6 mb-4">
                                <div class="card">


                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-4">
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="collapse" id="collapseExample1">
                        <div class="p-4 border mt-4">
                            <div class="row list disable-text-selection" data-check-all="checkAll">
                                <div class="col-xl-3 col-lg-4 col-12 col-sm-6 mb-4">
                                    <div class="card">
                                        <div class="position-relative">
                                            <a href="Pages.Product.Detail.html">
                                                <img class="card-img-top" src="img/.jpg"
                                                     alt="Фото блюда">
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-2">
                                                    <div class="custom-control custom-checkbox pl-1">
                                                        <label class="custom-control custom-checkbox  mb-0">
                                                            <input type="checkbox" class="custom-control-input">
                                                            <span class="custom-control-label">&nbsp;</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-10">
                                                    <a href="Pages.Product.Detail.html">
                                                        <p class="list-item-heading mb-4 pt-1">Рыба с мясом</p>
                                                    </a>
                                                    <footer>
                                                        <p class="text-muted text-small mb-0 font-weight-light">18.08.2019</p>
                                                    </footer>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-lg-4 col-12 col-sm-6 mb-4">
                                    <div class="card">
                                        <div class="position-relative">
                                            <a href="Pages.Product.Detail.html">
                                                <img class="card-img-top" src="img/.jpg"
                                                     alt="Фото блюда">
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-2">
                                                    <div class="custom-control custom-checkbox pl-1">
                                                        <label class="custom-control custom-checkbox  mb-0">
                                                            <input type="checkbox" class="custom-control-input">
                                                            <span class="custom-control-label">&nbsp;</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-10">
                                                    <a href="Pages.Product.Detail.html">
                                                        <p class="list-item-heading mb-4 pt-1">Рыба с мясом</p>
                                                    </a>
                                                    <footer>
                                                        <p class="text-muted text-small mb-0 font-weight-light">18.08.2019</p>
                                                    </footer>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-xl-3 col-lg-4 col-12 col-sm-6 mb-4">
                                    <div class="card">
                                        <div class="position-relative">
                                            <a href="Pages.Product.Detail.html">
                                                <img class="card-img-top" src="img/.jpg"
                                                     alt="Фото блюда">
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-2">
                                                    <div class="custom-control custom-checkbox pl-1">
                                                        <label class="custom-control custom-checkbox  mb-0">
                                                            <input type="checkbox" class="custom-control-input">
                                                            <span class="custom-control-label">&nbsp;</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-10">
                                                    <a href="Pages.Product.Detail.html">
                                                        <p class="list-item-heading mb-4 pt-1">Рыба с мясом</p>
                                                    </a>
                                                    <footer>
                                                        <p class="text-muted text-small mb-0 font-weight-light">18.08.2019</p>
                                                    </footer>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-xl-3 col-lg-4 col-12 col-sm-6 mb-4">
                                    <div class="card">
                                        <div class="position-relative">
                                            <a href="Pages.Product.Detail.html">
                                                <img class="card-img-top" src="img/.jpg"
                                                     alt="Фото блюда">
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-2">
                                                    <div class="custom-control custom-checkbox pl-1">
                                                        <label class="custom-control custom-checkbox  mb-0">
                                                            <input type="checkbox" class="custom-control-input">
                                                            <span class="custom-control-label">&nbsp;</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-10">
                                                    <a href="Pages.Product.Detail.html">
                                                        <p class="list-item-heading mb-4 pt-1">Рыба с мясом</p>
                                                    </a>
                                                    <footer>
                                                        <p class="text-muted text-small mb-0 font-weight-light">18.08.2019</p>
                                                    </footer>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid">
            <div class="row">
                <div class="modal fade modal-right select-from-library" id="libraryModal" tabindex="-1" role="dialog"
                     aria-labelledby="libraryModal" aria-hidden="true" data-backdrop="static">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Сформируйте пак из блюд</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body scroll pt-0 pb-0 mt-4 mb-4">
                                <div class="accordion" id="accordion">
                                    <div class="mb-2">
                                        <button class="btn btn-link p-0 folder-button-collapse" data-toggle="collapse"
                                                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <span class="icon-container">
                                                <i class="simple-icon-arrow-down"></i>
                                            </span>
                                            <span class="folder-name">Горячее</span>
                                        </button>
                                        <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                            <div class="list disable-text-selection">
                                                <div class="row">

                                                    <div class="col-6 mb-1 sfl-item-container"
                                                         data-preview-path="~/Content/img/chock.jpg"
                                                         data-path="chock.jpg"
                                                         data-label="chock.jpg">
                                                        <div class="card d-flex mb-2 p-0 media-thumb-container">
                                                            <div class="d-flex align-self-stretch">
                                                                <img src="~/Content/img/chock.jpg" alt="изображение"
                                                                     class="list-media-thumbnail responsive border-0" />
                                                            </div>
                                                            <div class="d-flex flex-grow-1 min-width-zero">
                                                                <div class="card-body pr-1 pt-2 pb-2 align-self-center d-flex min-width-zero">
                                                                    <div class="w-100">
                                                                        <p class="truncate mb-0">chock.jpg</p>
                                                                    </div>
                                                                </div>
                                                                <div class="custom-control custom-checkbox pl-1 pr-1 align-self-center">
                                                                    <label class="custom-control custom-checkbox mb-0">
                                                                        <input type="checkbox" class="custom-control-input">
                                                                        <span class="custom-control-label"></span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 mb-1 sfl-item-container"
                                                         data-preview-path="~/Content/img/chock.jpg"
                                                         data-path="chock.jpg"
                                                         data-label="chock.jpg">
                                                        <div class="card d-flex mb-2 p-0 media-thumb-container">
                                                            <div class="d-flex align-self-stretch">
                                                                <img src="~/Content/img/chock.jpg" alt="фото"
                                                                     class="list-media-thumbnail responsive border-0" />
                                                            </div>
                                                            <div class="d-flex flex-grow-1 min-width-zero">
                                                                <div class="card-body pr-1 pt-2 pb-2 align-self-center d-flex min-width-zero">
                                                                    <div class="w-100">
                                                                        <p class="truncate mb-0">chocolate-cake-thumb.jpg</p>
                                                                    </div>
                                                                </div>
                                                                <div class="custom-control custom-checkbox pl-1 pr-1 align-self-center">
                                                                    <label class="custom-control custom-checkbox mb-0">
                                                                        <input type="checkbox" class="custom-control-input">
                                                                        <span class="custom-control-label"></span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-2">
                                        <button class="btn btn-link p-0 folder-button-collapse collapsed" data-toggle="collapse"
                                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            <span class="icon-container">
                                                <i class="simple-icon-arrow-down"></i>
                                            </span>
                                            <span class="folder-name">Супы</span>
                                        </button>

                                        <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                            <div class="list disable-text-selection">
                                                <div class="row">
                                                    <div class="col-6 mb-1 sfl-item-container"
                                                         data-preview-path="~/Content/img/chock.jpg"
                                                         data-path="chock.jpg"
                                                         data-label="chock.jpg">
                                                        <div class="card d-flex mb-2 p-0 media-thumb-container">
                                                            <div class="d-flex align-self-stretch">
                                                                <img src="~/Content/img/chock.jpg" alt="uploaded image"
                                                                     class="list-media-thumbnail responsive border-0" />
                                                            </div>
                                                            <div class="d-flex flex-grow-1 min-width-zero">
                                                                <div class="card-body pr-1 pt-2 pb-2 align-self-center d-flex min-width-zero">
                                                                    <div class="w-100">
                                                                        <p class="truncate mb-0">chocolate-cake-thumb.jpg</p>
                                                                    </div>
                                                                </div>
                                                                <div class="custom-control custom-checkbox pl-1 pr-1 align-self-center">
                                                                    <label class="custom-control custom-checkbox mb-0">
                                                                        <input type="checkbox" class="custom-control-input">
                                                                        <span class="custom-control-label"></span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 mb-1 sfl-item-container"
                                                         data-preview-path="~/Content/img/chock.jpg"
                                                         data-path="chock.jpg"
                                                         data-label="chock.jpg">
                                                        <div class="card d-flex mb-2 p-0 media-thumb-container">
                                                            <div class="d-flex align-self-stretch">
                                                                <img src="~/Content/img/chock.jpg" alt="Фото"
                                                                     class="list-media-thumbnail responsive border-0" />
                                                            </div>
                                                            <div class="d-flex flex-grow-1 min-width-zero">
                                                                <div class="card-body pr-1 pt-2 pb-2 align-self-center d-flex min-width-zero">
                                                                    <div class="w-100">
                                                                        <p class="truncate mb-0">chocolate-cake-thumb.jpg</p>
                                                                    </div>
                                                                </div>
                                                                <div class="custom-control custom-checkbox pl-1 pr-1 align-self-center">
                                                                    <label class="custom-control custom-checkbox mb-0">
                                                                        <input type="checkbox" class="custom-control-input">
                                                                        <span class="custom-control-label"></span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Отмена</button>
                                <button type="button" class="btn btn-primary sfl-submit">Сформировать пак</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade modal-right" id="exampleModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Создание блюда</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label>Название блюда</label>
                                        <input id="dish-creation-name" type="text" class="form-control" placeholder="Введите название">
                                    </div>

                                    <div class="form-group">
                                        <label>Категория блюда</label>
                                        <select id="dish-creation-select-type" class="form-control select2-single" autocomplete="off">
                                            <option value="0" label="&nbsp;">Введите категорию</option>
                                            @foreach (var category in (List<FoodOrder.Models.DishCategory>)ViewData["Categories"])
                                            {
                                                <option value="@category.Id">@category.Name</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="dish-creation-garnish-checkbox">
                                            <span>Наличие гарнира   <input id="dish-creation-garnish-checkbox" type="checkbox" /></span>
                                        </label>
                                    </div>

                                    <div class="form-group" id="dish-creation-select-garnish" style="display:none">
                                        <label>Вид гарнира</label>
                                        <select id="dish-creation-select-garnish" class="form-control select2-single" autocomplete="off">
                                            <option value="0" label="&nbsp;">Выберите гарнир</option>
                                            @foreach (Dish garnish in ViewData["Garnishes"] as IEnumerable<Dish>)
                                            {
                                                <option value="@garnish.Id">@garnish.Name</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <p>Пищевая ценность (на 100г) :</p>

                                        <label>Белки (г) :</label>
                                        <input id="dish-creation-proteins" name="Proteins" type="number" min="0" max="100" oninput="validity.valid||(value='');" step="0.5" class="form-control" placeholder="0">
                                        <br />
                                        <label>Жиры (г) :</label>
                                        <input id="dish-creation-fats" name="Fats" type="number" min="0" max="100" oninput="validity.valid||(value='');" step="0.5" class="form-control" placeholder="0">
                                        <br />
                                        <label>Углеводы (г) :</label>
                                        <input id="dish-creation-carbonhydrates" name="Carbonhydrates" type="number" min="0" max="100" oninput="validity.valid||(value='');" step="0.5" class="form-control" placeholder="0">
                                        <br />
                                        <label>Энергетическая ценность (ккал) :</label>
                                        <input id="dish-creation-kilocalories" name="Kilocalories" type="number" min="0" max="10000" oninput="validity.valid||(value='');" step="0.5" class="form-control" placeholder="0">
                                    </div>

                                </form>
                            </div>
                            <div class="modal-footer">
                                <button id="cancell-dish-creation" type="button" class="btn btn-outline-primary"
                                        data-dismiss="modal">
                                    Отмена
                                </button>
                                <button id="create-or-edit-dish" type="button" class="btn btn-primary">Создать</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>






</main>

@section Scripts{
    <script type="text/javascript">



        function getInstruction() {
            var enjoyhint_instance = new EnjoyHint({

                onStart: function () {

                    $.ajax({
                        type: 'POST',
                        contentType: "application/json",
                        url: "/Users/CheckInstruction",
                        success: function (data) {

                        }
                    });
                }

            });

            var enjoyhint_script_steps = [
                {
                    selector: '#create-dish-popup',
                    event: 'next',
                    showNext: true,
                    description: 'Вы можете добавлять новое блюдо!',
                    skipButton: {
                        text: 'Все знаю'
                    },
                    nextButton: {
                        text: 'Далее'
                    },
                    shape: 'circle',
                    radius: 220
                },
                {
                    selector: '#adad',
                    event: 'next',
                    description: 'Здесь отображены разделы конструктора блюд!',
                    skipButton: {
                        text: 'Понятно'
                    },
                    shape: 'circle',
                    radius: 70

                }
            ];


            enjoyhint_instance.set(enjoyhint_script_steps);


            enjoyhint_instance.run();
        }


        $('#makeInstruction').on('click', function () {
            getInstruction();
        });

        $(document).ready(function () {
            $.ajax({
                type: 'POST',
                contentType: "application/json",
                url: "/Users/IsCheckInstruction",
                success: function (data) {
                    if (data == "False") {
                        getInstruction();
                    }

                }
            });

        })


        $('#dish-creation-garnish-checkbox').on('change', function () {
            if ($(this).prop('checked')) {
                $('#dish-creation-select-garnish').show();
            }
            else {
                $('#dish-creation-select-garnish').hide();
            }
        });


        var editingDishId;

        //Создаем или редактируем блюдо
        $("#create-or-edit-dish").on('click', function () {
            var buttonName = $(this).text();

            var dishName = $("#dish-creation-name").val();

            var categoryElement = $("#dish-creation-select-type").children("option:selected");
            var selectedCategory = categoryElement.val();
            var categoryName = categoryElement.text();

            var hasGarnish = $("#dish-creation-garnish-checkbox").is(":checked");

            var garnishElement = $("#dish-creation-select-garnish").children("option:selected");
            var garnishId = garnishElement.val();
            var garnishName = garnishElement.text();

            var proteins = $("#dish-creation-proteins").val();
            var fats = $("#dish-creation-fats").val();
            var carbonhydrates = $("#dish-creation-carbonhydrates").val();
            var kilocalories = $("#dish-creation-kilocalories").val();

            //если что-то не ввели, то бог нам судья
            if (!dishName || !categoryName || (hasGarnish && !garnishName) || !proteins || !fats || !carbonhydrates || !kilocalories) {
                alert('Заполните все поля!');//нужен снэкбар
            }
            else {
                //проверяем, существует ли уже блюдо с таким названием
                $.ajax({
                    type: "GET",
                    url: '/Dishes/DishAlreadyExists',
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    data: {
                        "dishName": dishName
                    },
                    type: 'GET',
                    success: function (result) {
                        //с функции придет true, если такое блюдо уже есть, false - иначе
                        if (!result) {
                            //В зависимости от названия кнопки будет срабатывать создание или редактирование
                            if (buttonName == "Создать") {
                                $.ajax({
                                    type: "GET",
                                    url: '/Dishes/CreateJson',
                                    contentType: "application/json;charset=utf-8",
                                    dataType: "json",
                                    data: {
                                        "name": dishName,
                                        "selectedType": selectedCategory,
                                        "hasGarnish": hasGarnish,
                                        "garnishId": garnishId,
                                        "proteins": proteins,
                                        "fats": fats,
                                        "carbonhydrates": carbonhydrates,
                                        "kilocalories": kilocalories
                                    },
                                    type: 'GET',
                                    success: function (newDish) {

                                        var dishHTML = '<div id="dish-card-' + newDish.id + '" class="col-xl-3 col-lg-4 col-12 col-sm-6 mb-4">' +
                                            '<div class="card">' +
                                            '<div class="position-relative">' +
                                            '<div class="position-absolute card-top-buttons">' +
                                            '<button class="btn btn-outline-white icon-button " data-toggle="modal" data-backdrop="static" data-target="#exampleModal" onclick="EditDish(' + "'" + newDish.id + "'" + ')" title="Редактировать">' +
                                            '<i class="simple-icon-pencil"></i></button>' +
                                            '<button class="btn btn-outline-white icon-button" onclick="DeleteDish(' + "'" + newDish.id + "'" + ')" title="Удалить">' +
                                            '<i class="simple-icon-trash"></i></button></div>' +
                                            '<a>' +
                                            '<img class="card-img-top" src="/Content/img/1.jpg"' +
                                            ' alt="Фото блюда">' +
                                            '</a>' +
                                            '</div>' +
                                            '<div class="card-body">' +
                                            '<div class="row">' +
                                            '<div class="col-10">' +
                                            '<a>' +
                                            '<p class="list-item-heading mb-4 pt-1"><strong class="dish-name">' + dishName + '</strong></p>' +
                                            '</a>' +
                                            '<p class="list-item-heading mb-4 pt-1 dish-category-name">' + categoryName + '</p>';

                                        if (!hasGarnish) {
                                            dishHTML += '<p class="list-item-heading mb-4 pt-1 dish-garnish">' + "Без гарнира" + '</p>';
                                        }
                                        else {
                                            dishHTML += dishHTML += '<p class="list-item-heading mb-4 pt-1 dish-garnish">' + "С гарниром : " + garnishName + '</p>';
                                        }

                                        if (categoryName == "Гарнир") {
                                            //добавляем в список имеющихся гарниров только что созданный
                                            $('#dish-creation-select-garnish').append($("<option></option>").attr("value", newDish.id).text(garnishName));
                                        }

                                        dishHTML +=
                                            '<a class="btn btn-primary mb-1" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true" aria-controls="collapseExample">' +
                                            'Подробнее</a>' +
                                            '<div class="collapse" id="collapseExample"><div class="p-4 border mt-4"><p class="mb-0">' +
                                            '<p class="list-item-heading mb-4 pt-1">Пищевая ценность (на 100г):<br />' +
                                            'Белки - <span class="dish-proteins">' + proteins + '</span> г<br />' +
                                            'Жиры - <span class="dish-fats">' + fats + '</span> г<br />' +
                                            'Углеводы - <span class="dish-carbonhydrates">' + carbonhydrates + '</span> г<br />' +
                                            '<span class="dish-kilocalories">' + kilocalories + '</span> ккал </p>' +
                                            '</div></div><footer>' +
                                            '<p class="text-muted text-small mb-0 font-weight-light">' + newDish.dateOfCreation + '</p>' +
                                            '</footer></div></div></div></div></div>';

                                        $('#dish-cards').append(dishHTML);

                                        //для скрытия модального окна
                                        $('#cancell-dish-creation').click();
                                    },
                                    error: function () {
                                        console.log("Error while calling method '/Dishes/CreateJson'");
                                    }
                                });
                            }


                            //Скрипт редактирования блюда
                            if (buttonName == "Редактировать") {
                                $.ajax({
                                    type: "GET",
                                    url: '/Dishes/EditJson',
                                    contentType: "application/json;charset=utf-8",
                                    dataType: "json",
                                    data: {
                                        "id": editingDishId,
                                        "name": dishName,
                                        "selectedType": selectedCategory,
                                        "hasGarnish": hasGarnish,
                                        "garnishId": garnishId,
                                        "proteins": proteins,
                                        "fats": fats,
                                        "carbonhydrates": carbonhydrates,
                                        "kilocalories": kilocalories
                                    },
                                    type: 'GET',
                                    success: function (result) {
                                        var dishCardDiv = "#dish-card-" + editingDishId;
                                        $(dishCardDiv + " .dish-name").text(dishName);
                                        $(dishCardDiv + " .dish-category-name").text(categoryName);
                                        if (hasGarnish) {
                                            $(dishCardDiv + " .dish-garnish").text('С гарниром :' + garnishName);
                                        }
                                        else {
                                            $(dishCardDiv + " .dish-garnish").text('Без гарнира');
                                        }
                                        $(dishCardDiv + " .dish-proteins").text(proteins);
                                        $(dishCardDiv + " .dish-fats").text(fats);
                                        $(dishCardDiv + " .dish-carbonhydrates").text(carbonhydrates);
                                        $(dishCardDiv + " .dish-kilocalories").text(kilocalories);

                                        //для скрытия модального окна
                                        $('#cancell-dish-creation').click();
                                    },
                                    error: function () {
                                        console.log("Error while calling method '/Dishes/EditJson'");
                                    }
                                });
                            }
                        }
                        else {
                            alert('Блюдо с таким названием уже существует!');//нужен снэкбар
                        }
                    },
                    error: function () {
                        console.log("Error while calling method '/Dishes/DishAlreadyExists'");
                    }
                });


            }

        });

        //для сброса полей формы создания блюда, и переименования заголовка и кнопки формы
        $('#create-dish-popup').on('click', function () {
            $('#exampleModalLabel').text('Создание блюда');
            $('#create-or-edit-dish').text('Создать');

            $("#dish-creation-name").val('');
            $("#dish-creation-select-type").val(0);

            $("#dish-creation-garnish-checkbox").prop('checked', false);
            $("#dish-creation-select-garnish").hide();
            $("#dish-creation-select-garnish").val(0);

            $("#dish-creation-proteins").val('');
            $("#dish-creation-fats").val('');
            $("#dish-creation-carbonhydrates").val('');
            $("#dish-creation-kilocalories").val('');
        });


        //подтягиваем значения в поля формы создания блюда (на ней же редактирование будет)
        function EditDish(dishId, hasGarnish) {
            editingDishId = dishId;

            //меняем название заголовка и кнопки формы
            $('#exampleModalLabel').text('Редактирование блюда');
            $('#create-or-edit-dish').text('Редактировать');

            //вытягиваем поля из карточки блюда
            var currentDish = '#dish-card-' + dishId;

            var dishName = $(currentDish + " .dish-name").text();

            var dishCategoryName = $(currentDish + " .dish-category-name").text();

            var dishGarnishName = $(currentDish + " .dish-garnish").text();
            if (hasGarnish) {
                dishGarnishName = dishGarnishName.substring(13);
            }

            var dishProteins = $(currentDish + " .dish-proteins").text();
            var dishFats = $(currentDish + " .dish-fats").text();
            var dishCarbons = $(currentDish + " .dish-carbonhydrates").text();
            var dishCalories = $(currentDish + " .dish-kilocalories").text();

            //подтягиваем их на форму создания
            $("#dish-creation-name").val(dishName);

            $('#dish-creation-select-type option').filter(function () { return $(this).html() == dishCategoryName; }).prop('selected', 'selected');

            $("#dish-creation-garnish-checkbox").prop('checked', hasGarnish);
            if (hasGarnish) {
                $("#dish-creation-select-garnish").show();
            }
            else {
                $("#dish-creation-select-garnish").hide();
            }

            $("#dish-creation-select-garnish option").filter(function () { return $(this).html() == dishGarnishName; }).prop('selected', 'selected');

            $("#dish-creation-proteins").val(dishProteins);
            $("#dish-creation-fats").val(dishFats);
            $("#dish-creation-carbonhydrates").val(dishCarbons);
            $("#dish-creation-kilocalories").val(dishCalories);
        }

        function DeleteDish(dishId) {
            $.ajax({
                type: "GET",
                url: '/Dishes/DeleteJson',
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                data: {
                    "id": dishId
                },
                type: 'GET',
                success: function (result) {
                    $('#dish-card-' + dishId).remove();
                },
                error: function () {
                    console.log("Error while calling method '/Dishes/DeleteJson'");
                }
            });
        }
    </script>
}
