@model IEnumerable<FoodOrder.Models.UserViewModel>
@using Microsoft.AspNet.Identity

@{
    Layout = "~/Views/Shared/_LayoutSystem.cshtml";
    ViewBag.Title = "Личный кабинет представителя компании";

    var company = Model.FirstOrDefault().Company;
    var representativeId = company.RepresentativeId;
}
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <div class="mb-2">
                    <h1>Название компании</h1>
                    <div class="text-zero top-right-button-container">
                        <button type="button"
                                class="btn btn-lg btn-outline-primary dropdown-toggle dropdown-toggle-split top-right-button top-right-button-single"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Действия
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/Users/EditCompany/@company.Id">Редактировать данные компании</a>
                        </div>
                    </div>
                </div>


                <ul class="nav nav-tabs separator-tabs ml-0 mb-5" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="first-tab" data-toggle="tab" href="#first" role="tab"
                           aria-controls="first" aria-selected="true">ПРОФИЛЬ</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " id="second-tab" data-toggle="tab" href="#second" role="tab"
                           aria-controls="second" aria-selected="false">СОТРУДНИКИ</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane show active" id="first" role="tabpanel" aria-labelledby="first-tab">
                        <div class="row">
                            <div class="col-12 col-lg-5 col-xl-4 col-left">
                                <div class="card mb-4">
                                    <div class="position-absolute card-top-buttons">
                                        <button class="btn btn-outline-white icon-button ">
                                            <i class="simple-icon-pencil"></i>
                                        </button>
                                    </div>
                                    <img src="~/Content/img/pr1920.png" alt="Detail Picture" class="card-img-top" />

                                    <div class="card-body">
                                        <p class="text-muted text-small mb-2">Информация</p>
                                        <p class="mb-3">
                                            @company.Name
                                        </p>

                                        <p class="text-muted text-small mb-2">Реквизиты</p>
                                        <p class="mb-3">
                                            @company.Requisites
                                        </p>

                                        <p class="text-muted text-small mb-2">Заказы для сотрудников</p>
                                        <p class="mb-3">
                                            @if (company.UnlimitedOrders)
                                            {
                                                <span>Неограничены</span>
                                            }
                                            else
                                            {
                                                <span>Лимитированы</span>
                                            }
                                        </p>

                                        <p class="text-muted text-small mb-2">Контакты</p>
                                        <div class="social-icons">
                                            <ul class="list-unstyled list-inline">
                                                <li class="list-inline-item">
                                                    <a href="#"><i class="simple-icon-social-facebook"></i></a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#"><i class="simple-icon-social-twitter"></i></a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#"><i class="simple-icon-social-instagram"></i></a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-12 col-lg-7 col-xl-8 col-right">
                                <div class="row listing-card-container">

                                    <div class="col-sm-6 col-lg-6 col-xl-4 col-12 mb-4">
                                        <div class="card">
                                            <div class="position-relative">
                                                <a href="">
                                                    <img class="card-img-top"
                                                         src="~/Content/img/profile-pic-p.png"
                                                         alt="">
                                                </a>
                                            </div>
                                            <div class="card-body">
                                                <a href="">
                                                    <h6 class="mb-3 listing-heading ellipsis">
                                                        Представитель компании
                                                    </h6>
                                                </a>
                                                <footer>
                                                    <p class="text-muted text-small mb-0 font-weight-light">
                                                        @company.Representative.UserName @company.Representative.SecondName
                                                    </p>
                                                </footer>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="second" role="tabpanel" aria-labelledby="second-tab">

                        <div class="row">
                            <div class="col-12 list" data-check-all="checkAll">

                                @foreach (var employee in Model.Where(e=>e.Id!=representativeId))
                                {
                                    <div class="card d-flex flex-row mb-3">
                                        <div class="d-flex flex-grow-1 min-width-zero">
                                            <div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                                                <a class="list-item-heading mb-0 truncate w-40 w-xs-100" href="#">
                                                    @employee.UserName @employee.SecondName
                                                </a>

                                                <div class="w-15 w-xs-100">
                                                    <span>@(employee.PhoneNumber ?? "телефон не указан")</span>
                                                </div>

                                                <div class="w-15 w-xs-100">
                                                    <span>@employee.Email</span>
                                                </div>

                                                <div class="w-15 w-xs-100">
                                                    @if (employee.EmailConfirmed)
                                                    {
                                                        <span class="badge badge-pill badge-success">Подтверждено</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="badge badge-pill badge-secondary">Не подтверждено</span>
                                                    }
                                                </div>
                                            </div>

                                            <label class="custom-control custom-checkbox mb-1 align-self-center pr-4">
                                                <a href="/Users/Edit/@employee.Id" class="btn btn-header-primary-light icon-button" title="Редактировать">
                                                    <i class="simple-icon-pencil"></i>
                                                </a>

                                                <a href="/Users/Delete/@employee.Id" class="btn btn-header-primary-light icon-button" title="Удалить">
                                                    <i class="simple-icon-trash"></i>
                                                </a>
                                            </label>
                                        </div>
                                    </div>
                                }


                                <nav class="mt-4 mb-3">
                                    <ul class="pagination justify-content-center mb-0">
                                        <li class="page-item ">
                                            <a class="page-link first" href="#">
                                                <i class="simple-icon-control-start"></i>
                                            </a>
                                        </li>
                                        <li class="page-item ">
                                            <a class="page-link prev" href="#">
                                                <i class="simple-icon-arrow-left"></i>
                                            </a>
                                        </li>
                                        <li class="page-item active">
                                            <a class="page-link" href="#">1</a>
                                        </li>
                                        <li class="page-item ">
                                            <a class="page-link" href="#">2</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">3</a>
                                        </li>
                                        <li class="page-item ">
                                            <a class="page-link next" href="#" aria-label="Next">
                                                <i class="simple-icon-arrow-right"></i>
                                            </a>
                                        </li>
                                        <li class="page-item ">
                                            <a class="page-link last" href="#">
                                                <i class="simple-icon-control-end"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-6 mb-4">
                            <div class="card">

                                <a id="newCompany" href="/Users/Create">
                                    <div class="card-body d-flex justify-content-between align-items-center">
                                        <h6 class="mb-0">Добавить сотрудника</h6>
                                        <i style="font-size: 25px;" class=iconsminds-add></i>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="card d-flex flex-row mb-4">
                                    <a class="d-flex" href="#">
                                        <img alt="Профиль" src="~/Content/img/profile-pic-p.png"
                                             class="img-thumbnail border-0 rounded-circle m-4 list-thumbnail align-self-center">
                                    </a>
                                    <div class=" d-flex flex-grow-1 min-width-zero">
                                        <div class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                                            <div class="min-width-zero">
                                                <a href="#">
                                                    <p class="list-item-heading mb-1 truncate">Гарольд</p>
                                                </a>
                                                <p class="mb-2 text-muted text-small">Представитель компании</p>
                                                <button type="button"
                                                        class="btn btn-xs btn-outline-primary ">
                                                    К профилю
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>



                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</main>
