@model IEnumerable<FoodOrder.Models.UserViewModel>
@using Microsoft.AspNet.Identity

@{
    Layout = "~/Views/Shared/_LayoutSystem.cshtml";
    ViewBag.Title = "Личный кабинет представителя компании";

    var company = Model.FirstOrDefault().Company;
    var representativeId = company.RepresentativeId;
}
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <div class="mb-2">
                    <h1>@company.Name</h1>

                    <div class="text-zero top-right-button-container">
                        <button id="butAct" type="button"
                                class="btn btn-lg btn-outline-primary dropdown-toggle dropdown-toggle-split top-right-button top-right-button-single"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Действия
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/Users/EditCompany/@company.Id">Редактировать данные компании</a>
                            <a class="dropdown-item" href="/Users/Edit/@company.RepresentativeId">Редактировать данные представителя</a>
                            <a class="dropdown-item" href="/Manage/ChangePassword">Изменить пароль</a>
                        </div>
                    </div>
                </div>
                <p class="text-success">@ViewBag.StatusMessage</p>

                <ul class="nav nav-tabs separator-tabs ml-0 mb-5" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="first-tab" data-toggle="tab" href="#first" role="tab"
                           aria-controls="first" aria-selected="true">ПРОФИЛЬ</a>
                    </li>

                    <li class="nav-item">
                        <a id="sotr" class="nav-link " id="second-tab" data-toggle="tab" href="#second" role="tab"
                           aria-controls="second" aria-selected="false">СОТРУДНИКИ</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane show active" id="first" role="tabpanel" aria-labelledby="first-tab">
                        <div class="row">
                            <div class="col-12 col-lg-5 col-xl-3 col-left">
                                <div class="card mb-4">
                                    <div class="position-absolute card-top-buttons">
                                        <button style="color:#17d85b" class="btn btn-outline-white icon-button ">
                                            <i class="simple-icon-pencil"></i>
                                        </button>
                                    </div>
                                    <img src="~/Content/img/pr1920.png" alt="Detail Picture" class="card-img-top" />

                                    <div class="card-body">
                                        <h6 id="nameComp" class="mb-3 listing-heading ellipsis">
                                            <strong>@company.Name</strong>
                                        </h6>
                                        @*
                                        <p class="text-muted text-small mb-2">Реквизиты</p>
                                       
                                        <p class="mb-3">
                                            <strong>Полное название:</strong> @company.FullName<br />
                                            <strong>БИН или ИИН:</strong> @company.BIN_IIN<br />
                                            <strong>ИИК:</strong> @company.IIK<br />
                                            <strong>РНН:</strong> @company.RNN<br />
                                            <strong>ИИК:</strong> @company.BIK<br />
                                            <strong>Банк:</strong> @company.Bank<br />
                                            <strong>Юридический адрес:</strong> @company.LegalAddress<br />
                                            <strong>Фактический адрес:</strong> @company.ActualAddress<br />
                                            <strong>Директор:</strong> @company.Director<br />
                                            <strong>Телефон:</strong> @company.PhoneNumber<br />
                                            <strong>Email:</strong> @company.Email<br />
                                        </p>*@

                                        <p class="text-muted text-small mb-2">Заказы для сотрудников</p>
                                        <p class="mb-3">
                                            @if (company.UnlimitedOrders)
                                            {
                                                <span>Неограничены</span>
                                            }
                                            else
                                            {
                                                <span>Лимитированы</span>
                                            }
                                        </p>

                                        <p class="text-muted text-small mb-2">Контакты</p>
                                        <div class="social-icons">
                                            <p><a>Ссылка на Whatsapp</a></p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-12 col-lg-7 col-xl-8 col-right">
                                <div class="row listing-card-container">

                                    <div class="col-sm-6 col-lg-6 col-xl-4 col-12 mb-4">
                                        <div class="card">
                                            <div class="position-relative">
                                                <a>
                                                    <img class="card-img-top"
                                                         src="~/Content/img/profile-pic-p.png"
                                                         alt="">
                                                    @*<a href="/Users/Edit/@company.RepresentativeId" class="btn btn-outline-primary icon-button" title="Редактировать">
                                                        <i class="simple-icon-pencil"></i>
                                                    </a>*@
                                                </a>
                                            </div>
                                            
                                            <div class="card-body">
                                                <a>
                                                    <h6 id="predName" class="mb-3 listing-heading ellipsis">
                                                        <strong>Представитель компании</strong>
                                                    </h6>
                                                </a>
                                                <footer>
                                                    <p class="text-muted text-small mb-0">ФИО</p>
                                                    <p class="mb-3">
                                                        @company.Representative.Surname @company.Representative.Name @company.Representative.Patronymic
                                                    </p>

                                                    <p class="text-muted text-small mb-0">Email</p>
                                                    <p class="mb-3">
                                                        @company.Representative.Email
                                                    </p>

                                                    <p class="text-muted text-small mb-0">Телефон</p>
                                                    <p class="mb-3">
                                                        @company.Representative.PhoneNumber
                                                    </p>

                                                    <p class="text-muted text-small mb-0">Логин</p>
                                                    <p class="mb-3">
                                                        @company.Representative.UserName
                                                    </p>
                                                </footer>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="second" role="tabpanel" aria-labelledby="second-tab">

                        <div class="row">

                            <div class="col-xl-3 col-lg-6 mb-4">
                                <div class="card">

                                    <a id="newCompany" href="/Users/Create">
                                        <div class="card-body d-flex justify-content-between align-items-center">
                                            <h6 class="mb-0">Добавить сотрудника</h6>
                                            <i style="font-size: 25px;" class=iconsminds-add></i>
                                        </div>
                                    </a>
                                </div>
                            </div>


                            <div class="col-12 list" data-check-all="checkAll">

                                @foreach (var employee in Model.Where(e => e.Id != representativeId))
                                {
                                    <div class="card d-flex flex-row mb-3">
                                        <div class="d-flex flex-grow-1 min-width-zero">
                                            <div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                                                <a class="list-item-heading mb-0 truncate w-40 w-xs-100" href="#">
                                                    @employee.Surname @employee.Name @employee.Patronymic
                                                </a>

                                                <div class="w-15 w-xs-100">
                                                    <span>@(employee.PhoneNumber ?? "телефон не указан")</span>
                                                </div>

                                                <div class="w-15 w-xs-100">
                                                    <span>@employee.Email</span>
                                                </div>

                                                <div class="w-15 w-xs-100">
                                                    @if (employee.EmailConfirmed)
                                                    {
                                                        <span class="badge badge-pill badge-success">Подтверждено</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="badge badge-pill badge-secondary">Не подтверждено</span>
                                                    }
                                                </div>
                                            </div>

                                            <label class="custom-control custom-checkbox mb-1 align-self-center pr-4">
                                                <a href="/Users/Edit/@employee.Id" class="btn btn-header-primary-light icon-button" title="Редактировать">
                                                    <i class="simple-icon-pencil"></i>
                                                </a>

                                                <a href="/Users/Delete/@employee.Id" class="btn btn-header-primary-light icon-button" title="Удалить">
                                                    <i class="simple-icon-trash"></i>
                                                </a>
                                            </label>
                                        </div>
                                    </div>
                                }


                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</main>



@section Scripts{
    <script type="text/javascript">



        function getInstruction() {
            var enjoyhint_instance = new EnjoyHint({

                onStart: function () {

                    $.ajax({
                        type: 'POST',
                        contentType: "application/json",
                        url: "/Users/CheckInstruction",
                        success: function (data) {

                        }
                    });
                }

            });

            var enjoyhint_script_steps = [
                {
                    selector: '#nameComp',
                    event: 'next',
                    showNext: true,
                    description: 'Здесь отображается краткая информация по вашему профилю!',
                    skipButton: {
                        text: 'Все знаю'
                    },
                    nextButton: {
                        text: 'Далее'
                    },
                    shape: 'circle',
                    radius: 220
                },
                {
                    selector: '#butAct',
                    event: 'next',
                    showNext: true,
                    description: 'Вы можете редактировать информацию по профилям!',
                    skipButton: {
                        text: 'Все знаю'
                    },
                    nextButton: {
                        text: 'Далее'
                    },
                    shape: 'circle',
                    radius: 220
                },
                {
                    selector: '#sotr',
                    event: 'next',
                    showNext: true,
                    description: 'Переходите во вкладку сотрудники и добавляйте их в таблицу!',
                    skipButton: {
                        text: 'Все знаю'
                    },
                    nextButton: {
                        text: 'Далее'
                    },
                    shape: 'circle',
                    radius: 220
                },
                {
                    selector: '#predName',
                    event: 'next',
                    description: 'Это профиль вашего представителя!',
                    skipButton: {
                        text: 'Понятно'
                    },
                    shape: 'circle',
                    radius: 160

                }
            ];


            enjoyhint_instance.set(enjoyhint_script_steps);


            enjoyhint_instance.run();
        }


        $('#makeInstruction').on('click', function () {
            getInstruction();
        });

        $(document).ready(function () {
            $.ajax({
                type: 'POST',
                contentType: "application/json",
                url: "/Users/IsCheckInstruction",
                success: function (data) {
                    if (data == "False") {
                        getInstruction();
                    }
                }
            });

        })


    </script>
}
